<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
  <th:block th:replace="fragments/header :: headMeta"></th:block>
  <th:block th:replace="fragments/header :: head"></th:block>
</head>
<body>
<div th:replace="fragments/header :: navigation"></div>

<div class="jumbotron">
  <div class="container text-center">
    <h1>My Portfolio</h1>
    <p>Some text that represents "Me"...</p>
  </div>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Some of my Work</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <p>Products</p>
      <a href="/a/product-list" class="img-responsive" style="width:100%">Products</a>
    </div>
    <div class="col-sm-3">
      <p>Products</p>
      <a href="/a/product-list" class="img-responsive" style="width:100%">Products</a>
    </div>
    <div class="col-sm-3">
      <p>Products</p>
      <a href="/a/product-list" class="img-responsive" style="width:100%">Products</a>
    </div>
    <div class="col-sm-3">
      <p>Products</p>
      <a href="/a/product-list" class="img-responsive" style="width:100%">Products</a>
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">
  <div class="row">
    <div class="col-sm-3">
      <p>Products</p>
      <a href="/a/product-list" class="img-responsive" style="width:100%">Products</a>
    </div>
    <div class="col-sm-3">
      <p>Products</p>
      <a href="/a/product-list" class="img-responsive" style="width:100%">Products</a>
    </div>
    <div class="col-sm-3">
      <p>Products</p>
      <a href="/a/product-list" class="img-responsive" style="width:100%">Products</a>
    </div>
    <div class="col-sm-3">
      <p>Products</p>
      <a href="/a/product-list" class="img-responsive" style="width:100%">Products</a>
    </div>
  </div>
</div><br><br>

<!-- Footer-->
<th:block th:replace="fragments/header :: footer"></th:block>
</body>
</html>