.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #ed1c24;
   color: white;
   text-align: center;
}
.copyright {
    color: #ffe700;
    margin-top: 8px;
}
.copyright a {
    color: inherit;
    text-decoration: none;
}
.footer ul li {
    list-style-type: none;
    display: inline-block;
}
.footer .nav-link{
    color: #ffe700;
    padding-right: .5rem;
    padding-left: .5rem;
}
.footer ul {
    margin-top: 20px
}

/* <------ Footer End ----->*/

/*body {
    background-image: url('../assets/img/LtteUniform.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}*/
